
<h1>Posts</h1>

<%= link_to "Create Post", new_post_path, class:"btn btn-primary" %>
<br/>

<% @posts.reverse_each do |post| %>
  <br/>
  <div class="card">
    <div class="card-header">
      Post
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= post.description %></p>

        <div class="row">
            <% post.images.each do |im| %>
              <div class="col-sm-3 my-2">
                <%= image_tag(im, style:"width:100%") %>
              </div>
            <% end %>
        </div>

        <br/>
        <footer class="blockquote-footer">

          <cite>
          <%= link_to 'Show', post, class:"btn btn-secondary" %>
          <%= link_to 'Edit', edit_post_path(post), class:"btn btn-secondary" %>
          <%= link_to 'Delete', post, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </cite>

        </footer>
      </blockquote>
    </div>
  </div>
<% end %>
